/* You can add global styles to this file, and also import other style files */

.error {
    color: #f00;
}

.dragarea {
    font-size: 24px;
    width: 100px;
    height: 100px;
    border: 3px solid #bbb;
    padding: 20px;
    background-color: #fff;
    color: #bbb;
    border-radius: 50%;
}

.droparea {
    font-size: 24px;
    width: 100px;
    height: 100px;
    border: 3px dashed #bbb;
    padding: 20px;
    background-color: #eff;
    color: #aaa;
    border-radius: 50%;
}

.imageWidth {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
